<!DOCTYPE html>
<html>
  <head>
    <title>Tweeter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<h1>TweeterApp</h1>
  	<hr>
  	<%= link_to "Home", root_path %>
  	<%= link_to "About", about_path %>
  	<%= link_to "Help", help_path %>
  	<%= link_to "Contact", contact_path %>
    <%= yield %>
  </body>
</html>
